body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
p{
    font-size: 14px;
}
h2{
    font-size: 37px;
}
h3{
    font-size: 25px;
}
.flexible_content{
    display: flex;
    justify-content: center;
    
}

/* description part start */

#description{
    background-image: url(./image/donation9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    
}
.description_item {
    text-align: center;
    color: yellow;
    padding: 35px 50px;
    margin-bottom: 100px;
}
.description_item a{
    font-weight: 600;
    
    
}
.description_item p{
    padding-bottom: 50px ;
    
}
.linkButton{
    /* background: #f05209; */
    background: #0a9c4c;
    color: #f2faf4;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 10px;
   
}

/* description part end */
/* Donate today part start */

#amount_section h2{
    
    font-weight: 700;
    color: #000;
    text-align: center;
}
#amount_section p{
    color: #535252;
    text-align: center;
    font-weight: 700;
    /* padding-top: 20px; */
    padding-bottom: 30px;
    
}

.ammount div{
    background: #d3c2c2d5;
    color: #000;
    padding: 12px 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
}
.ammount .digit{
    background: #6be3f3fb;
    color: #000;
    border: 2px solid rgb(19, 168, 31);
}
#amount_section .other_amount  {
    display: flex;
  justify-content: center;
}
.other_amount{
    margin-bottom: 60px;
}

.other_amount input{
    padding: 10px 60px;
    margin-bottom: 35px;
    text-align: center;
   
} 
.other_amount a{
    margin-left: 60px;
    
} 

/* Donate today part end */
/* donation plan start */
#donate_plan {
    margin-top: 100px;
    margin-bottom: 100px;
}
#donate_plan .basic_need{
    width: 100%;
}
#donate_plan h2{
    text-align: center;
    margin-bottom: 25px;
}
#donate_plan p{
    
    text-align: center;
    margin-bottom: 35px;
    font-weight: 600;
    color: #535252;
    

}
#donate_plan .basic_need .food{
   
    background: #8fd1da85;
    border: 1px solid rgb(13, 90, 20);
    width: 25%;
    padding: 40px 15px;
    margin-right: 1%;
}
#donate_plan .basic_need .shelter{
    background: #e7acac8c;
    border: 1px solid rgb(6, 50, 61);
    width: 25%;
    padding: 40px 15px;
    margin-right: 1%;
}
#donate_plan .basic_need .education{
    background: #15c98d4f;
    border: 1px solid rgb(20, 78, 5);
    width: 25%;
    padding: 40px 15px;
    margin-right: 1%;
    
}

/* donation plan end */
/* Team section start */
#team_section {
    background: #03aff37a;
    
}
#team_section .team_txt{
    text-align: center;
    
}
#team_section .team_heading{
    padding: 25px 0;
    /* margin:  15px 0; */
}
#team_section .team_members{
    display: flex;
    justify-content: space-evenly;
    
}

/* Update section end */
#update_section .update{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 60px;
}
#update_section .update p{
    padding-bottom: 40px;
    font-weight: 700;
    color: #535252;
    
}
form{
    background: #8b82827c;
    width: 500px;
    justify-content: center;
    padding: 50px 40px;
    margin: 0 auto;
}
form input{
   padding: 10px 15px;
   border-radius: 5px;
   
}

/* Update section end */
/* footer start */
footer{
    
    background: #0a5844;
    text-align: center;
    padding: 10px 0;
}
footer h2{
    font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 196, 0);
}
/* footer end */